<!DOCTYPE html>
<html lang="en">

<head>
    <title>Code of Conduct</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <h2>Workplace Behavior & Ethics</h2>
    <p>In the workplace area, please be respectful of others and maintain a moderate tone to not distract others' work.
    </p>

    <h2>Discrimination/Harassment</h2>
    <p>There are zero-tolerance policies for any form of harassment, discrimination, or abusive behavior. If such
        behavior is reported, it will result in the <strong>highest ticket severity. This will be reported to the
            Managers and higher up the chain.</strong>
    </p>

    <h2>Confidentiality</h2>
    <p>All employees are expected to maintain the confidentiality of sensitive information. Sharing confidential
        information without proper authorization is strictly prohibited.
    </p>

    <h2>Resources</h2>
    <p>You are welcome to use the company resources, such as the conference rooms, desktops/monitors, stationary
        materials, and beverages. Pleasure be sure to organize the ares which you have used in the same way you found
        it.
    </p>
    <br>
    <p>Please be sure to attend meetings (whether in-person or online) on time.</p>
    <p>Dress appropriately - formal wear is not necessary, but something that is comfortable for you and is in business
        casual is preferred.
    </p>

</body>



</html>